/**********************/


/* General Pagination */


/**********************/


/* import title font*/

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&display=swap');
body {
    background: url(./images/bg.jpg) no-repeat center fixed;
    width: 100vw;
    font-size: 16px;
}

main {
    background-color: rgba(129, 129, 129, 0.8);
}

main h2,
main p {
    background-color: rgba(129, 129, 129, 0.8);
    border: 1px solid rgb(90, 0, 90);
    box-shadow: 2px 2px 5px rgb(90, 0, 90);
    color: aliceblue;
    font-weight: 300;
}

section {
    height: 100vh;
}

header {
    height: 55vh;
}

#two header,
#three header {
    height: 20vh;
}

article {
    height: 30vh;
}

#two article,
#three article,
#four article {
    height: 55vh;
}

footer {
    height: 20vh;
    text-align: center;
}

footer li {
    background-color: aliceblue;
    color: rgb(90, 0, 90);
}

p {
    font-size: 1.5rem;
}

strong {
    font-weight: 600;
}


/****************/


/* Header Styles*/


/****************/

.header {
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    color: aliceblue;
    /* margin-top: 5rem; */
}

#title,
h2 {
    font-family: 'Baloo Bhaijaan', cursive;
    color: black;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 3px 3px 1px darkorchid;
    display: block;
    text-align: center;
}

.label {
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 0.5em;
}

.labelcontact {
    display: none;
}


/*******************************************/


/* Additional CSS rules for contact section*/


/*******************************************/

ul {
    justify-content: space-around;
    margin-top: 2vh;
}

#contact {
    width: 40vw;
}

#contact p {
    font-size: 2rem;
    color: rgb(90, 0, 90);
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: -2px 2px 0px aliceblue;
}

#contact a {
    color: rgb(90, 0, 90);
    background-color: aliceblue;
    border: 8px solid aliceblue;
    border-radius: 50%;
}

#contact a:hover {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(90, 0, 90);
    border: 8px solid rgb(90, 0, 90);
    border-radius: 50%;
}


/*******************/


/* Parallax effect */


/*******************/

#one {
    background: url(./images/Lyon.jpg) center center no-repeat fixed;
    background-size: 80%;
    border: 1px black;
}

#two {
    background: url(./images/MuseeMalartre.JPG) center center no-repeat fixed;
    background-size: 80%;
    border: 1px black;
}

#three {
    background: url(./images/skyLineLyon.jpg) center center no-repeat fixed;
    background-size: 80%;
    border: 1px black;
}

#four {
    background: url(./images/TrainBleu.jpg) center center no-repeat fixed;
    background-size: 80%;
    border: 1px black;
}


/*******************/


/* Scramble effect */


/*******************/


/* import Scramble Font*/

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
.container1 {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text {
    margin: auto;
    font-weight: 100;
    font-size: 2.5rem;
    color: black;
}

.dud {
    color: black;
}


/*****************************************************/


/* Specifics CSS rules to pass over Bootstrap's rules*/


/*****************************************************/

h5 {
    text-align: center;
    font-weight: 200;
}

.btn {
    justify-content: baseline;
    align-content: center;
    background-color: rgb(90, 0, 90);
    border: 1px solid aliceblue;
    color: aliceblue;
}

.btn:hover {
    text-decoration: none;
    background-color: aliceblue;
    color: rgb(90, 0, 90);
    border: 1px solid rgb(90, 0, 90);
}

.card {
    background-color: rgba(129, 129, 129, 0.8);
    border: 1px solid rgb(90, 0, 90);
    box-shadow: 2px 2px 5px rgb(90, 0, 90);
    width: 18rem;
    margin: 1vh auto;
}

.card-text {
    border: none;
    box-shadow: none;
}

.card-img-top {
    width: 5rem;
    height: 5rem;
    margin: auto;
}

.skills {
    color: rgb(90, 0, 90);
    text-shadow: 2px 2px 1px aliceblue;
    text-align: center;
}

.progress {
    padding: 0;
    background-color: rgb(90, 0, 90);
}

.progressbar {
    background-color: aliceblue;
}

.img-thumbnail {
    max-height: 20vh;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}

.copyright {
    color: rgb(90, 0, 90);
    font-weight: bold;
}


/*****************/


/* @Media Queries*/


/*****************/

@media only screen and (min-width: 767.98px) {
    .img-thumbnail {
        display: none;
    }
}

@media only screen and (max-width: 767.98px) {
    body {
        font-size: 10px;
    }
    main h2,
    main p,
    .card {
        border: none;
    }
    .card-img-top,
    .arrow,
    .card-text {
        display: none;
    }
    #one,
    #two,
    #three,
    #four {
        background: 0;
    }
    #contact {
        width: 80vw;
    }
}